.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-container {
  position: fixed; top: 0; right: 0; border: 0;
  margin-right: 0px;
  width: 30%;
}

.map-container .mapboxgl-map {
  position: absolute;
  position: fixed;
}
